spring:
  application:
    name: tp
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/course_training?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: Sh20060401
    data:
      redis:
        host: localhost
        port: 6379
  servlet:
    session:
      timeout: 30m

server:
  port: 8090
  tomcat:
    uri-encoding: utf-8
    threads:
      max: 200

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml

springdoc:
  default-flat-param-object: true
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.ujs.trainingprogram.tp

knife4j:
  enable: true
  setting:
    language: zh_cn

logging:
  level:
    root: info
    com.ujs.trainingprogram.tp: debug
    org.springframework.web: warn
