<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujs.trainingprogram.tp.dao.mapper.CourseMapper">

    <!-- 分页查询课程 -->
    <select id="pageCourseResults" parameterType="com.ujs.trainingprogram.tp.dto.req.course.CoursePageQueryReqDTO"
            resultType="com.ujs.trainingprogram.tp.dto.resp.course.CoursePageQueryRespDTO">
        SELECT
        c.id AS courseId,
        c.course_name AS courseName,
        c.course_nature AS courseNature,
        col.college_name AS collegeName,
        maj.major_name AS majorName,
        dic.dict_name AS courseType,
        c.total_credits AS totalCredits,
        c.total_hours AS totalHours,
        c.total_weeks AS totalWeeks,
        c.hour_teach AS hourTeach,
        c.hour_practice AS hourPractice,
        c.hour_operation AS hourOperation,
        c.hour_outside AS hourOutside,
        c.hour_week AS hourWeek,
        c.required_elective AS requiredElective,
        c.term AS term,
        c.remark AS remark
        FROM
        course c
        LEFT JOIN sys_dict dic ON c.dict_id = dic.id
        LEFT JOIN college col ON c.college_id = col.id
        LEFT JOIN major maj ON c.major_id = maj.id
        WHERE c.del_flag = 0
        <if test="id != null">
            AND c.id = #{id}
        </if>
        <if test="courseNature != null">
            AND c.course_nature = #{courseNature}
        </if>
        <if test="courseName != null and courseName != ''">
            AND c.course_name LIKE CONCAT('%', #{courseName}, '%')
        </if>
        <!-- 动态处理学院条件：根据ID或名称查询 -->
        <if test="collegeId != null">
            AND c.college_id = #{collegeId}
        </if>
        <if test="collegeName != null and collegeName != '' and collegeId == null">
            AND col.college_name LIKE CONCAT('%', #{collegeName}, '%')
        </if>
        <!-- 动态处理专业条件：根据ID或名称查询 -->
        <if test="majorId != null">
            AND c.major_id = #{majorId}
        </if>
        <if test="majorName != null and majorName != '' and majorId == null">
            AND maj.major_name LIKE CONCAT('%', #{majorName}, '%')
        </if>
        <!-- 动态处理字典条件：根据ID或名称查询 -->
        <if test="dictId != null">
            AND c.course_type = #{dictId}
        </if>
        <if test="dictName != null and dictName != '' and dictId == null">
            AND dic.dict_name LIKE CONCAT('%', #{dictName}, '%')
        </if>
        ORDER BY c.create_time DESC
    </select>


</mapper>